<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47278558-1', 'educare.tw');
  ga('send', 'pageview');

</script>

<div class="row">
	<div class="well">
		<h4 >親愛的家長您好，請留下您的聯絡資料，我們會儘快和老師聯絡並與您確認，謝謝～</h4>
	</div>

	<div class="col-md-4">
			
			<div class="col-md-12 panel panel-default">
			  
			  <div class="panel-heading center">
			  	<%= @teacher.background %></br>
			  	<%= @teacher.name %>
			  </div>

			  <div class="panel-body">
			    <%= image_tag(@teacher.image.url(:medium), class: "img-avatar img-rounded") %>
			  </div>
			
				<div class="panel-footer">
					專長：</br>
					<%= simple_format(@teacher.expertise) %>
				</div>

			</div>
	</div>

	<div class="col-md-8">
		<%= render 'form'%>
	</div>
	

</div>
<%= link_to('Back' , root_path)%>
