

<script type="text/javascript">
	mixpanel.track(
	    'home'
	);
</script>

<!--<h2 class="center">Educare大學申請入學諮詢平台</h2>
<h4 class="center">school adminission consulting</h4>-->
<div class="center">
	<span class="gray">Educare</span>
	<span class="blue">大學申請入學諮詢平台</span>
	<div class="description">school adminission consulting</div>
</div>


<div class="btn-group btn-group-justified">
 
  <a id="button-img-1" class="btn btn-default btn-lg active">諮詢服務流程</a>
  <a  id="button-img-2" class="btn btn-default btn-lg">為何選擇Educare</a>
  <a id="button-img-3" class="btn btn-default btn-lg">Educare貼心小禮物</a>
</div>


<%=image_tag( 'dm.jpg' , class: 'dm', id: 'introduction-img')%>

<!--<div class="jumbotron">-->
    <!--
    <h1>eduCare</h1>
    <h2>大學申請入學咨詢平台(C2C School Admissions Consulting)</h2>
    <p>eduCare是一個提供大學申請入學咨詢的平台。從申請入學到錄取知名大學校系，我們提供全程一對一指導，協助學生了解大學科系，協助備審資料與面試技巧準備。 我們協助申請入學的考生能夠找到合適的咨詢老師，咨詢老師來自於台大、清大、交大、政大等頂尖大學，本身具備與申請科系相符合的專業知識，協助考生在面試時遇到的科系知識問題。我們更挑選本身已有推甄申請經驗以及有咨詢經驗的老師提供考生最棒的咨詢服務。</p>
		-->
		<!--
		<%=image_tag( 'https://dl.dropboxusercontent.com/u/256084506/dm.jpg' , class: 'dm')%>
		-->
	
 <!--</div>-->



<h1>咨詢團隊</h1>



<ul class="nav nav-tabs nav-justified">
  <li class="active"><%= link_to( '第一類組' , academic_group_first_path)%></li>
  <li><%= link_to( '第二類組' , academic_group_second_path)%></li>
  <li><%= link_to( '第三類組' , academic_group_third_path)%></li>
</ul>


</br>

<div class="row">

	<div class="alert text-center alert-success">
  <h4><strong>台/新北市</strong></h4>
	</div>

	<% @teachers.where(:location => 1).each do |teacher| %>

		<div class="col-md-3">
			
			<div class="col-md-12 panel panel-default">
			  
			  <div class="panel-heading center">
			  	<%= teacher.background %></br>
			  	<%= teacher.name %>
			  </div>

			  <div class="panel-body">
			    <%= image_tag(teacher.image.url(:medium), class: "img-avatar img-rounded") %>
			  </div>
			
				<div class="panel-footer">
					教學內容：</br>
					<%= simple_format(teacher.expertise) %>
					<div class="center">
						<%= link_to('聯絡老師', new_teacher_student_path(teacher) , :class => "btn btn-primary" )%>
					</div>
				</div>

			</div>


		</div><!-- col-md-4 -->
	<%end%>
</div>



<div class="row">

	<div class="alert text-center alert-success">
  <h4><strong>新竹縣/市</strong></h4>
	</div>

	<% @teachers.where(:location => 2).each do |teacher| %>

		<div class="col-md-3">
			
			<div class="col-md-12 panel panel-default">
			  
			  <div class="panel-heading center">
			  	<%= teacher.background %></br>
			  	<%= teacher.name %>
			  </div>

			  <div class="panel-body">
			    <%= image_tag(teacher.image.url(:medium), class: "img-avatar img-rounded") %>
			  </div>
			
				<div class="panel-footer">
					教學內容：</br>
					<%= simple_format(teacher.expertise) %>
					<div class="center">
						<%= link_to('聯絡老師', new_teacher_student_path(teacher) , :class => "btn btn-primary" )%>
					</div>
				</div>

			</div>
		</div><!-- col-md-4 -->
	<%end%>

</div>


<div class="row">
	<div class="alert text-center alert-success">
  <h4><strong>台南/高雄</strong></h4>
	</div>

	<% @teachers.where(:location => 3).each do |teacher| %>

		<div class="col-md-3">
			
			<div class="col-md-12 panel panel-default">
			  
			  <div class="panel-heading center">
			  	<%= teacher.background %></br>
			  	<%= teacher.name %>
			  </div>

			  <div class="panel-body">
			    <%= image_tag(teacher.image.url(:medium), class: "img-avatar img-rounded") %>
			  </div>
			
				<div class="panel-footer">
					教學內容：</br>
					<%= simple_format(teacher.expertise) %>
					<div class="center">
						<%= link_to('聯絡老師', new_teacher_student_path(teacher) , :class => "btn btn-primary" )%>
					</div>
				</div>

			</div>
		</div><!-- col-md-4 -->
	<%end%>

</div>




