<div class="well">
<%= form_for(@teacher , :html => { :multipart => true }) do |f| %>
	
	<% if(@teacher.errors.any?) %>
		<div id="error_explanation">
			<h2><%= pluralized(@teacher.error.count , "error") %> prohibited this messge being saved:</h2>
			<ul>
				<%= @teacher.errors.full_message.each do |msg|%>
					<li><%= msg%></li>
				<% end %>
			</ul>

		</div>
	<%end%>

	<div class="form-group">
		<%=f.label(:imageb, '照片：')%>
		<%=f.file_field(:image , class: "form-control")%>
	</div>


	<div class="form-group">
		<%=f.label(:name, 'Name')%>
		<%=f.text_field(:name , class: "form-control")%>
	</div>

	<div class="form-group">
		<label>學校</label>
		<%=f.text_field(:background , class: "form-control") %>
	</div>

	<div class="form-group">
		<label>類組: put integer 1 2 3</label>
		<%=f.text_field(:academic_group , class: "form-control") %>
	</div>

	<div class="form-group">
		<label>教學地點: put integer 臺北:1 新竹:2 台南:3</label>
		<%=f.text_field(:location , class: "form-control") %>
	</div>

	<div class="form-group">
		<%=f.label(:expertise)%>
		<%=f.text_area(:expertise , class: "form-control") %>
	</div>

	<div class="form-group">
		<%=f.label(:introduction)%>
		<%=f.text_area(:introduction , class: "form-control") %>
	</div>

	 <div class="form-group">
    <%= f.submit(class: "btn btn-primary") %>
  </div>


<%end%>
</div>

