<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <p class="logo">eduCare</p>
      推甄申請咨詢平台
    </a>
    
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "咨詢團隊", root_path %></li>
      <li><%= link_to "面試＆備審準備技巧", about_path %></li>
      <li><%= link_to "Q&A", about_path %></li>
      <li><%= link_to "關於Educare", about_path %></li>
      <li><%= link_to "成為老師", new_teacher_path %></li>

    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

